extends ../includes/layout
block main-content
    .navbar.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="/") Mean Blog Engine
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                    li
                        a(href="/posts") Posts
                    li
                        a(href="/newpost") Create
    section.content
        .row
            .col-xs-10
                div(ng-view)
            .col-xs-2
                div(ng-include="'/partials/sidebar/sidebar-about'")
    footer.container.text-center
        p &copy; 2014 Mean Blog Engine